<%# Expected @records format: an array of hashes with :groups and :details arrays of hashes.
    # Each inner hash may contain any set of keys (e.g., :item, :qty, :cost, :price, etc.).
%>

<table class="table table-bordered table-striped table-hover text-muted" style="width: 100%;">
  <thead class="table-light">
    <tr>
      <th>Section</th>
      <%# Dynamically generate column headers based on the first group's keys %>
      <% first_keys = (@records.first[:groups].first.keys rescue []) %>
      <% first_keys.each do |key| %>
        <th><%= key.to_s.titleize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <% record[:groups].each_with_index do |group, idx| %>
        <%# Bootstrap font size utilities for grayscale styling %>
        <% size_class = case idx
           when 0 then 'fs-5'
           when 1 then 'fs-6'
           else 'fs-7'
           end %>
        <tr class="<%= size_class %>">
          <td>Group <%= idx + 1 %></td>
          <% first_keys.each do |key| %>
            <td class="text-end"><%= group[key] %></td>
          <% end %>
        </tr>
      <% end %>
      <% record[:details].each do |detail| %>
        <tr class="fs-7 bg-light">
          <td>Detail</td>
          <% first_keys.each do |key| %>
            <td class="text-end"><%= detail[key] %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
