<%# Expected @records format: an array of hashes with :groups and :details arrays of hashes.
    # Each inner hash may contain any set of keys (e.g., :item, :qty, :cost, :price, etc.).
%>
<%= render_entity_list_header(@entity_report_header_caption, "") %>

<table class="table table-bordered table-striped table-hover text-muted" style="width: 100%;">
  <thead class="table-light">
    <tr>
      <%# Dynamically generate column headers based on the first group's keys %>
      <% first_keys = (@records.first[:groups].first.keys rescue []) %>
      <% first_keys.each do |key| %>
        <th><%= key.to_s.titleize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% sums = {} %>
    <% @records.each do |record| %>
      <% record[:groups].each_with_index do |group, idx| %>
        <%# Bootstrap font size utilities for grayscale styling %>
        <% size_class = case idx
           when 0 then 'fs-5'
           when 1 then 'fs-6'
           else 'fs-7'
           end %>
        <tr class="<%= size_class %> fw-bold">
          <% first_keys.each do |key| %>
            <% field_setting = @fields_settings.find { |f| f[:field] == key.to_s } %>
            <% if field_setting && field_setting[:type] == "number" %>
              <td class="text-end"><%= group[key] %></td>
            <% else %>
              <td><%= group[key] %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
       <% record[:details].each do |detail| %>
         <tr class="fs-7 bg-light">
           <% first_keys.each do |key| %>
             <% field_setting = @fields_settings.find { |f| f[:field] == key.to_s } %>
             <% if field_setting && field_setting[:type] == "number" %>
               <td class="text-end"><%= detail[key] %></td>
               <% sums[key] = sums[key] ? sums[key] + detail[key].to_f : detail[key].to_f %>
             <% else %>
               <td><%= detail[key] %></td>
             <% end %>
           <% end %>
         </tr>
       <% end %>
     <% end %>
     <%# Single summary row: sum of numeric fields across all details of all records %>
     <% numeric_fields = @fields_settings.select { |f| f[:type] == "number" }.map { |f| f[:field].to_sym } %>
     <tr class="fs-5 fw-bold bg-secondary text-white">
       <% first_keys.each do |key| %>
         <% if numeric_fields.include?(key) %>
           <td class="text-end"><%= sums[key] %></td>
         <% else %>
           <td></td>
         <% end %>
       <% end %>
     </tr>
  </tbody>
</table>
